@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 background-color: rgb(42, 42, 42)
}


/* Estilo personalizado */
.main {
  background: #fff;
}

.perfil {
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-top: 24%;
}

/**
  * Bree font
  * https://fonts.google.com/specimen/Bree+Serif
  */

  @font-face {
    font-family: "Bree";
    src: url("/fonts/Bree-Bold.ttf");
    font-weight: bold; /* Typically 700 */
  }
  
  @font-face {
    font-family: "Bree";
    src: url("/fonts/Bree-Book.ttf");
    font-weight: normal; /* Typically 400, but can vary */
  }
  
  @font-face {
    font-family: "Bree";
    src: url("/fonts/Bree-Extrabold.ttf");
    font-weight: 800; /* Extra bold */
  }
  
  @font-face {
    font-family: "Bree";
    src: url("/fonts/Bree-Light.ttf");
    font-weight: 300; /* Light */
  }
  
  @font-face {
    font-family: "Bree";
    src: url("/fonts/Bree-Regular.ttf");
    font-weight: normal; /* Typically 400 */
  }
  
  @font-face {
    font-family: "Bree";
    src: url("/fonts/Bree-Semibold.ttf");
    font-weight: 600; /* Semi-bold */
  }
  
  @font-face {
    font-family: "Bree";
    src: url("/fonts/Bree-Thin.ttf");
    font-weight: 100; /* Thin */
  }

  @font-face {
    font-family: "Bungee";
    src: url("/fonts/BungeeShade-Regular.ttf");
    font-weight: 100; /*Bungee*/
  }
  
  @font-face {
    font-family: "Anton";
    src: url("/fonts/Anton-Regular.ttf");
    font-weight: 100; /*Anton*/
  }